body {
    margin: 0;
    padding: 0;
  }
  
  .global{
    position: fixed;
  }
  
  
  .loadScreen {
  
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #41ee86, #2cf3e9);
    z-index: 1;
  }
  
  
  .bg {
  
    position: absolute;
    margin-left: -710%;
    margin-top: -300%;
    top: -100%;
    left: 0;
    width: 1800%;
    height: 2400%;
    background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(100,100,100,1) 1#, rgb(8, 8, 69) 50%, rgb(10, 10, 75) 80%, rgb(13, 13, 81) 90%, rgb(4, 39, 58) 100%);
    background-size: contain;
    z-index: 2;
  }
  
  
  .topLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 3;
    color: white;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: white;
    text-align: center;
  }
  .buttons{
    margin-left: 5%;
    position: absolute;
    z-index:4
   
  }
  
  
  .buttonChar{
    position: inherit;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    color: white;
    font-size: 18px;
    background-color: #ffffff00;
    padding: 10px 30px;
    border-radius: 6px;
    transition-duration: 0.3s;
  }
  
  .buttonChar:hover{
    background-color: rgb(255, 248, 248);
    color:rgb(0, 0, 0);
  
  }
  
  
  .buttonselectChar{
    position: inherit;
    border: 3px solid rgb(255, 255, 255);
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgba(18, 18, 18, 0.471);
    padding: 8px 28px;
    border-radius: 6px;
    transition-duration: 0.3s;
  }
  
  .buttonselectChar:hover{
    background-color: rgb(255, 248, 248);
    color:black;
  
  }
  
